.custom-button {
  min-width: 90px;
  outline: none;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(255, 105, 0);
  border-image: initial;
  padding: 0px 12px;
  overflow: hidden;
  background: rgb(255, 105, 0);
  font-weight: 700;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  transition-property: border-color, background, color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  color: white;
  top: 9px;
  font-family: 'Comfortaa', cursive;

  &.inverted {
    background: white;
    color: rgb(255, 105, 0);

    &:hover {
      background: rgb(255, 105, 0);
      color: white;
    }
  }
  &.isGoogleSignIn {
    background: #4285f4;
    color: white;
    border-color: white;
    margin-right: 8px;
  }
}
