.sign-in {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 600px;
  height: 420px;
  align-content: center;
  margin: 0 32px;

  .buttons {
    justify-content: space-between;
    display: flex;
    margin-right: 1px;
    align-content: flex-end;
  }
}
