.content-container {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 60px;
  width: 20%;
  margin-right: 37.3333px;
  flex-flow: column;

  .content-item {
    display: flex;
    height: 350px;
    flex-direction: column;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Comfortaa', cursive;
    color: rgb(115, 121, 140);
    font-weight: 400;
    margin: 0px;

    .figure {
      height: 90%;
      width: 100%;
      position: relative;

      .image {
        width: 100%;
        height: 90%;
        position: relative;
        // background-size: auto;
        // background-position: center;
        background-repeat: no-repeat;
        // margin-bottom: 5px;
        top: 0px;
        image-rendering: auto;
        cursor: pointer;
        margin: 0px;
        border-radius: 12px;
        transition: top 150ms ease-out 0s;
        background-position: center center;
        background-size: contain;
      }
    }

    .title {
      color: rgb(0, 0, 0);
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
      display: flex;
      margin: 8px 0px;
    }
    .description {
      font-size: 14px;
      line-height: 17px;
      font-weight: 400;
    }
  }
  .content-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    margin-top: 18px;

    .price {
      padding-right: 4px;
      font-size: 22px;
      color: rgb(0, 0, 0);
      font-family: Dodo, system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
        Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';
      font-weight: 500;
      line-height: 42px;
      flex: 1 1 auto;
    }
  }
}
