.cart-icon {
  .item-count {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 12px;
    background-color: #c67605;
    font-size: 12px;
    font-weight: 700;
    background: #fff;
    color: rgb(255, 105, 0);
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
    border-color: #c67605;
    border-style: solid;
    border-width: 2px;
  }
}
