.content-preview {
  margin-bottom: 30px;
  width: 100%;
  flex: 1 0 auto;
  margin: 0px auto;

  .title {
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 700;
    margin: 32px 0px;
  }

  .preview {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
  }
}
