.sign-up {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 600px;
  align-content: center;
  margin: 0 32px;

  .form-input {
    .passwords {
      display: flex;
      flex-flow: row wrap;
    }
  }
}
