.header {
  position: sticky;
  top: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 25px;
  background-color: white;
  z-index: 10;
  width: 100%;
  padding: 0 35px;

  .logo-container {
    height: 100%;
    width: 50%;
    padding: 15px;
    display: flex;

    .logo {
      height: 70px;
      width: 50px;
      align-self: center;
    }
    .title {
      text-align: center;
      font-size: 40px;
      line-height: 0;
      font-style: normal;
      margin-top: 20px;
      font-family: 'kreon', serif;
    }
  }
  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 5px 10px;
      cursor: pointer;
    }
  }
}
