$sub-color: #eaeaea;
$main-color: black;

h2 {
  margin: 10px 0;
}

.group {
  position: relative;
  margin: 45px 0;

  &.no-margin {
    margin: 0;
    margin-bottom: 45px;
  }

  .form-input {
    background-color: $sub-color;
    height: 35px;
    width: 400px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: $sub-color;
    border-image: initial;
    font-size: 18px;
    padding: 1px 10px;
    margin-right: 10px;

    &:focus {
      outline: none;
    }
  }
}
