body {
  font-family: 'Comfortaa', cursive;
  direction: ltr;
  min-width: 1024px;
  height: 100%;
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: no-common-ligatures;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  background: rgb(255, 255, 255);
}

.App {
  min-height: 100%;
  display: flex;
  flex-flow: column;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
