.cart-item {
  width: 100%;
  display: flex;
  height: 80px;
  margin-bottom: 15px;

  img {
    width: 30%;
    background-size: contain;
    height: 80%;
  }

  .item-details {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 20px 15px;

    .name {
      font-size: 14px;
      font-weight: 700;
    }
    .price {
      font-size: 14px;
    }
  }
}
